[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = PL
ST = Pomeranian
L = Slupsk
O = UPSL
CN = localhost

[ v3_req ]
keyUsage = critical, digitalSignature, keyEncipherment

# Server-specific extensions
[ v3_req_server ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

# Client-specific extensions
[ v3_req_client ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth

[ alt_names ]
DNS.1 = localhost
IP.1 = 127.0.0.1
IP.2 = 192.168.8.124 
IP.3 = 10.189.0.120
IP.4 = 172.20.10.2
