[Unit]
Description=Compiled Binary Service
After=network-online.target stream-multicast.service
Wants=network-online.target stream-multicast.service

[Service]
ExecStart=/usr/local/bin/ws-stream --addr 192.168.8.124:9080
Restart=always
User=sssdev
WorkingDirectory=/usr/local/bin/

[Install]
WantedBy=multi-user.target
