[build]
target-dir = "target-cross"

[target.aarch64-unknown-linux-gnu]
image = "ghcr.io/cross-rs/aarch64-unknown-linux-gnu:edge"
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update",
    "apt-get upgrade --assume-yes",
    "mkdir $HOME/glibc/ && cd $HOME/glibc",
    "wget http://ftp.gnu.org/gnu/libc/glibc-2.32.tar.gz",
    "tar -xvzf glibc-2.32.tar.gz",
    "mkdir build",
    "mkdir glibc-2.32-install",
    "cd build",
    "~/glibc/glibc-2.32/configure --prefix=$HOME/glibc/glibc-2.32-install",
    "make",
    "make install",
    "apt-get --assume-yes install libssl-dev:$CROSS_DEB_ARCH libc6-dev:$CROSS_DEB_ARCH"
]

