[build]
target-dir = "target-cross"

[target.aarch64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update",
    "apt-get upgrade --assume-yes",
    "apt-get --assume-yes install libssl-dev:$CROSS_DEB_ARCH libc6-dev:$CROSS_DEB_ARCH"
]

[target.aarch64-unknown-linux-musl]
pre-build = [
    "dpkg --add-architecture",
    "apt-get update",
    "apt-get upgrade --assume-yes",
    "apt-get --assume-yes install libssl-dev libc6-dev"
]
